<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.5.3" manuallyInstalled="true" />
  <package id="MathNet.Numerics" version="5.0.0" manuallyInstalled="true" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="QuikGraph" version="2.5.0" manuallyInstalled="true" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" />
</packages>